@model CVDetailsViewModel
@{
    ViewData["Title"] = "Preview";
}

<h1 class="text-center">Preview</h1>

<div class="row">
    <div class="col-6 float-left">Back</div>
    <div class="col-6 float-right" >Export To PDF</div>
</div>

<div class="container w-100" style="border: 1px, solid, gray">
    <div class="paper-border cv-font">

        <p><span style="font-weight: 400;">Your Name</span></p>
        <p><span style="font-weight: 400;">Industrial Designer</span></p>
        <p><span style="font-weight: 400;">123 Your Street</span></p>
        <p><span style="font-weight: 400;">Your City, ST 12345</span></p>
        <p><span style="font-weight: 400;">(123) 456-7890</span></p>
        <p><span style="font-weight: 400;">no_reply@example.com</span></p>
        <hr />
        <h1><strong>SKILLS</strong></h1>
        <p><span style="font-weight: 400;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span></p>
        <hr />
        <h1><strong>EXPERIENCE</strong></h1>
        <br />
        <h2><strong>Company Name, &nbsp;Location</strong><em><span style="font-weight: 400;"> - Job Title</span></em></h2>
        <p><span style="font-weight: 400;">MONTH 20XX - PRESENT</span></p>
        <ul>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Aenean ac interdum nisi. Sed in consequat mi.</span></li>
        </ul>
        <h2><strong>Company Name, Location</strong><em><span style="font-weight: 400;"> - Job Title</span></em></h2>
        <p><span style="font-weight: 400;">MONTH 20XX - MONTH 20XX</span></p>
        <ul>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Aenean ac interdum nisi. Sed in consequat mi. </span></li>
        </ul>
        <h2><strong>Company Name, Location</strong><em><span style="font-weight: 400;"> - Job Title</span></em></h2>
        <p><span style="font-weight: 400;">MONTH 20XX - MONTH 20XX</span></p>
        <ul>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Aenean ac interdum nisi. Sed in consequat mi. </span></li>
        </ul>
        <hr />
        <h1><strong>EDUCATION</strong></h1>
        <br />
        <h2><strong>School Name, Location </strong><em><span style="font-weight: 400;">- Degree</span></em></h2>
        <p><span style="font-weight: 400;">MONTH 20XX - MONTH 20XX</span></p>
        <p><span style="font-weight: 400;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</span></p>

        <hr /><h1><strong>AWARDS</strong></h1>
        <p><span style="font-weight: 400;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></p>
        <p><span style="font-weight: 400;">Aenean ac interdum nisi.</span></p>
    </div>
</div>