@{
    ViewData["Title"] = "Home Page";
}
<br /><br />
<div class="jumbotron text-center">
    <h1>  Quick CV </h1>
    <p class="lead">Welcome to my CV Generating Web Application</p>
    
</div>
<p>Tech used ...</p>
<div class="row">
    <div class="col-md-3">
        <h3>ASP Core 2.2</h3>
        <p>Microsoft's update of ASP.NET, which is cross platform and open source</p>
    </div>
    <div class="col-md-3">
        <h3>Entity Framework Core</h3>
        <p>An ORM for ASP Core to make working with databases easier and more efficient</p>
    </div>
    <div class="col-md-3">
        <h3>SQLite</h3>
        <p>Self contained and serverless SQL database engine</p>
    </div>
    <div class="col-md-3">
        
        <h3>Ipsum.</h3>
        <p>Fusce vel sapien elit in malesuada semper mi.</p>
    </div>
</div>